@model IEnumerable<TPFinalLabo4.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Categorías</h1>

@if (User.IsInRole("Administrator") || User.IsInRole("Everyone"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Crear Nueva Categoría</a>
    </p>
}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th class="text-center" style="width:120px"> Acciones </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @if (User.IsInRole("Administrator") || User.IsInRole("Everyone"))
                {
                    <td class="text-center">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="text-decoration-none">
                            <span style="font-size: 1.5em; color: darkgoldenrod;">
                                <i class="fal fa-edit"></i>
                            </span>
                        </a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="text-decoration-none">
                            <span style="font-size: 1.5em; color: darkblue;">
                                <i class="fal fa-info-circle"></i>
                            </span>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="text-decoration-none">
                            <span style="font-size: 1.5em; color: darkred;">
                                <i class="fal fa-trash-alt"></i>
                            </span>
                        </a>
                    </td>
                }
            </tr>
            }
        </tbody>
    </table>
